{% extends 'common/base.html' %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/signup.css') }}" type="text/css"/>
{% endblock style %}
{% block title %} Signup {% endblock title %}

{% block content %}
<div id="container">
	<div class="signup">
			<form id="signup-form" method="POST" enctype="multipart/form-data">
				<legend>Signup</legend>
				<div>
					<label for="name">Name</label> <br> <input type="text" name="name" placeholder="Name" minlength="2" required>*
				</div>
				<br>
				<div>
					<label for="username">User Name</label>	<br> <input type="text" name="username" placeholder="username" minlength="4" required>*
				</div>
				<br>
				<div>
					<label for="password1">Password</label><br> <input type="password" name="password1" placeholder="Password" minlength="4" required>*
				</div>
				<br>
				<div>
					<label for="password2">Reenter Password</label>
					<br>
					<input type="password" name="password2" placeholder="re-enter password" minlength="4" required>*
				</div>
				<br>
				<div>
					<input type="file" name="file" value="Profile Picture">
				</div>
				<br>
				<div>
					<input type="submit" name="Register" value="Register">
					&nbsp;&nbsp;&nbsp;<a id="login" href="/login">Login</a>
				</div>
				<br>
			</form>
	</div>
</div>
{% endblock content %}
