{% extends 'common/base.html' %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/signup.css') }}" type="text/css"/>
{% endblock style %}
{% block title %} Signup {% endblock title %}

{% block content %}
<div id="container">
	<div class="signup">
		<h1>Signup</h1>
		<div class="signup-form">
			<form action="">
				<table style="text-align:center">
					<tr>
						<td align="right">User</td>
						<td align="left"><input type="text" name="username" placeholder="username" /></td>
					</tr>
					<tr>
						<td align="right">Password</td>
						<td align="left"><input type="text" name="pass" /></td>
					</tr>
					<tr>
						<td align="right">Email</td>
						<td align="left"><input type="email" name="email" placeholder="user@user.com" /></td>
					</tr>
					<tr>
						<td align="right">Date of Birth</td>
						<td align="left"><input type="date" name="dob" placeholder="DD/MM/YY" id="dob" /></td>
					</tr>
					<br>
					<tr>
						<td></td>
						<td align="center">
							<button class="btn btn-primary">Register</button>
							<button class="btn btn-primary">Login</button>
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
