* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  padding-right: 15px;
  background-color: #254c73;
  color: white;
}

.applogo {
  font-size: 2rem;
  margin: 0.5rem;
}

.nav-links {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 0.5rem;
  display: block;
}

.nav-links li:hover {
  background-color: #456c93;
}

footer {
  height: 60px;
  min-height: 10vh;
  position: absolute;
  bottom: 0;
}
