* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  height: 2px;
  margin-bottom: 3px;
  background-color: black;
}

footer {
  width: 100%;
  min-height: 10vh;
  position: absolute;
  bottom: 0;
  text-align: center;
}
