.signup {
  box-sizing: border-box;
  display: flex;
  width: 30%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: black;
  background-color: #fffad1;
  border: 5px solid white;
  border-radius: 8px;
  box-shadow: -1px -1px 3px 3px #a0a0a0;
}

h1 {
  text-align: center;
}

.signup-form {
  position: relative;
  margin: 0 auto;
  text-align: center;
}
