* {
  margin: 0px;
}

.container-layout {
  display: block;
  /* display: flex; */
  border: 1px solid black;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.seating-layout {
  padding: 0px 0px 10px 0px;
  display: flex;
  /* border: 1px solid black; */
  border-radius: 5px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  /* margin: 10px; */
}

.layout {
  display: block;
  margin-top: 15px;
  padding: 10px 0px 0px 0px;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
}

.row {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
  width: 100%;
  margin: 10px;
  padding: 0px 10px 0px 10px;
  /* border:1px solid black; */
}

.row:nth-child(1) {
  margin-top: 10px;
}

.layout .row {
  margin: 0 auto auto;
}

.seat {
  height: 24px;
  width: 30px;
  padding: 4px;
  color: #000;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  background-color: #ffffff;
  margin: 5px;
  border: 1px solid #000;
  border-radius: 3px;
  vertical-align: bottom;
}

.seat:hover {
  cursor: default;
  padding: 3px;
  border: 2px solid;
  transform: scale(1.1);
}

.seat input:disabled:hover {
  cursor: default;
  padding: 3px;
  transform: scale(1);
}

input[type="checkbox"]:not(:checked),
input[type="checkbox"]:checked {
  display: none;
}

.seat:checked + label {
  height: 24px;
  /* width: 24px; */
  text-align: center;
  border: 1px solid black;
  color: white;
  background-color: #5159ac;
}

.seat:disabled + label {
  height: 24px;
  /* width: 24px; */
  text-align: center;
  border: 1px solid black;
  color: white;
  background-color: #b0b0b0;
  transform: scale(1);
}

.row-screen {
  width: 81%;
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  margin: 0px 0px 0px 0px;
  font-size: 9px;
  text-align: center;
  justify-content: center;
}

h3 {
  color: black;
}

h6 {
  margin: 0px;
  border: 1px solid black;
}
