.card-body {
  display: flex;
  position: relative;
  flex-direction: column;
  margin: 2px;
  height: 100%;
  width: 100%;
}

.card-body hr {
  margin: 0;
  height: 3px;
  background-color: #505050;
  padding: 0;
}

.card-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-details {
  display: flex;
  width: 100%;
}

.card-title.text-center {
  margin: 3px;
}

.card-line {
  display: flex;
  width: 100%;
}

.card-body .card-details {
  display: flex;
}

.seat {
  margin: 1px;
  padding-right: 2px;
  padding-left: 2px;
  text-align: center;
  font-size: 0.9em;;
  border-radius: 3px;
  color:white;
  background-color: slategray;
}