
.content .container .row {
    justify-content: center;
    width:100%;
}

#profile_img {
    object-fit: contain;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

.content .container .row table {
    justify-content: center;
}

.card-form {
  display: flex;
  justify-content: center;
}