{% extends 'common/base.html' %}
{% block style %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/delete.css') }}" type="text/css" />
{% endblock style %}

{% block title %}
{% if venue is defined %}
Delete Venue
{% elif show is defined %}
Delete Show
{% endif %}
{% endblock title %}

<!-- main content -->
{% block content %} 
{{ super() }}
<div class="content">
    <div class="container">
        <div class="row mt-4">
            {% if venue is defined %}
            <form class="col-8 g-3 border rounded-2" method="POST">
                <h3 class="text-center mt-3">Deleting Venue {{ venue.name|capitalize }}</h3>
                <hr class="border-dark">
                <div class="row mb-3">
                    <div class="col-md-8">
                        <p class="mt-4">Deleting Venue will delete venue and related shows</p>
                        <p class="fw-bold"p><em style="color:red;">This action can not be undone</em></p>
                    </div>
                </div>
                <hr class="border-dark">
                <div class="row mb-3">
                    <div class="col-md-8 text-center">
                        <p>Are you sure you want to continue?</p>
                        <button type="submit" class="btn btn-danger" name="delete-venue" value="{{venue.id}}">Delete</button>
                        <a href="/admin/venue" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
                </div>
            </form>
            {% elif show is defined %}
            <form class="col-8 g-3 border rounded-2" method="POST">
                <h3 class="text-center">Deleting Show {{ show.title|capitalize }}</h3>
                <hr class="border-dark">
                <div class="row mb-3">
                    <div class="col-md-8">
                        <p>Deleting Show will delete all show's info</p>
                        <p class="fw-bold"><em style="color:red">This action can not be undone</em></p>
                    </div>
                </div>
                <hr class="border-dark">
                <div class="row mb-3">
                    <div class="col-md-8 text-center">
                        <p>Are you sure you want to continue?</p>
                        <button type="submit" class="btn btn-danger" name="delete-show" value="{{show.id}}">Delete</button>
                        <a href="/admin/{{show.venue.id}}/show" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
            {% endif %}

    </div>
    </div>
</div>
{% endblock content %}