{% extends 'common/base.html' %}
{% block title %}
Admin Dash Board
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/index.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}

<h1 class="text-center mb-4"> Admin Dash Board</h1>
<div class="content">
	<div class="container">
		<div class="top-segment">
			<div class="top-left border rounded-2">
				<form method="POST">
					<input type="submit" class="btn btn-secondary btn-lg" name="venue-management" value="Venue Management">
					&nbsp; &nbsp;
					<input type="submit" class="btn btn-secondary btn-lg" name="add-show" value="+ Add Show">
				</form>
			</div>
			<div class="top-right border rounded-2">
				<h6>Top Level stats</h6>
				<div class="col-8">
				<div class="table-borderless">
					<table class="table">
						<tbody>
							<tr>
								<td>Users</td>
								<td>{{ data.users_count }}</td>
							</tr>
							<tr>
								<td>Venues</td>
								<td>{{ data.venue_count }}</td>
							</tr>
							<tr>
								<td>Total Shows</td>
								<td>{{ data.show_count }}</td>
							</tr>
							<tr>
								<td>Currently Shows scheduled</td>
								<td>{{ data.show_scheduled_cnt }}</td>
							</tr>
							<tr>
								<td>Available Seats for booking</td>
								<td>{{ data.seats_avl }}</td>
							</tr>
							<tr>
								<td>Seats Booked</td>
								<td>{{ data.seats_booked }}</td>
							</tr>
							<tr>
								<td>Percentage Seats Booked</td>
								<td>{{ "%.2f"|format((data.seats_booked/data.seats_avl) * 100) }}%</td>
							</tr>
						</tbody>
					</table>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
