{% extends 'common/base.html' %}
{% block title %}
Admin Dash Board
{% endblock %}
{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/index.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}
<h1 style="text-align: center;"> Admin Dash Board</h1>
<div class="content">
	<div class="container">
		<div class="top-segment">
			<div class="top-left border rounded-2">
				<form method="POST">
					<input type="submit" class="btn btn-secondary btn-lg" name="venue-management" value="Venue Management">
					&nbsp; &nbsp;
					<input type="submit" class="btn btn-secondary btn-lg" name="add-show" value="+ Add Show">
				</form>
			</div>
			<div class="top-right border rounded-2">
				<h6>Top Level stats</h6>
				<div class="table-borderless">
					<table class="table">
						<tbody>
							<tr class="">
								<td>Users</td>
								<td class="text-left">{{ users_count }}</td>
							</tr>
							<tr class="">
								<td>Venues</td>
								<td>{{ venue_count }}</td>
							</tr>
							<tr class=tr-element"">
								<td>Shows</td>
								<td>{{ show_count }}</td>
							</tr>
							<tr class="tr-element">
								<td>Available Seats</td>
								<td>{{ avl_seat_count }}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
