{% extends 'common/base.html' %}

{% block title %}
{% if show is defined %}
Update Show
{% else %}
Add Show
{% endif %}
{% endblock title %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/show_add.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}
<div class="content">
	<div class="container">
		<div class="row g-3 mt-4">
			<form class="col-8 g-3 justify-contents-center border rounded-2" method="POST" enctype="multipart/form-data">
				{% if show is defined %}
				<h3 class="mt-3 text-center">Update Show</h3>
				{% else %}
				<h3 class="mt-3 text-center">Add Show</h3>
				{% endif %}
				<hr class="border-dark">
				<div class="row mb-3">
					<div class="col-md-8">
						<label for="show-title" class="form-label">Name</label>
						{% if show is defined %}
						<input type="text" class="form-control" id="show-title" name="title" value="{{ show.title }}"
							placeholder="Show Title" autocomplete="off" required>
						{% else %}
						<input type="text" class="form-control" id="show-title" name="title" value=""
							placeholder="Show Title" autocomplete="off" required>
						{% endif %}
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-8">
						<label for="show-language" class="form-label">Language</label>
						{% if show is defined %}
						<input type="text" class="form-control" id="show-language" name="language"
							value="{{ show.language }}" placeholder="Show Language" autocomplete="off" minlength="4"
							required>
						{% else %}
						<input type="text" class="form-control" id="show-language" name="language" value=""
							placeholder="Show Language" autocomplete="off" minlength="4" required>
						{% endif %}
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-8">
						<label for="show-duration" class="form-label">Duration</label>
						{% if show is defined %}
						<input type="text" class="form-control" id="show-duration" name="duration"
							value="{{ show.duration }}" placeholder="Show Duration(mins)" autocomplete="off" min=10
							max=180 required>
						{% else %}
						<input type="text" class="form-control" id="show-duration" name="duration" value=""
							placeholder="Show Duration(mins)" autocomplete="off" min=10 max=180 required>
						{% endif %}
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-8">
						<label for="show-price" class="form-label">Price</label>
						{% if show is defined %}
						<input type="text" class="form-control" id="show-price" name="price" value="{{ show.price }}"
							placeholder="Price(INR) per ticket" autocomplete="off" min=100 max=500 required>
						{% else %}
						<input type="text" class="form-control" id="show-price" name="price" value=""
							placeholder="Price(INR) per ticket" autocomplete="off" min=100 max=500 required>
						{% endif %}
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-8">
						<label for="show-rating" class="form-label">Rating</label>
						{% if show is defined %}
						<input type="text" class="form-control" id="show-rating" name="rating" value="{{ show.rating }}"
							placeholder="Show Rating" autocomplete="off" min="0.5" max="5.0" required>
						{% else %}
						<input type="text" class="form-control" id="show-rating" name="rating" value=""
							placeholder="Show Rating" autocomplete="off" min="0.5" max="5.0" required>
						{% endif %}
					</div>
				</div>
				{% if venue_id is none %}
				<div class="row mb-3">
					<div class="col-md-8">
					<label for="venue" class="form-label">Select Venue</label>
					<select class="form-select" name="venue">
						<option value="">Select Venue</option>
						{% for venue in venues %}
						<option value="{{ venue.id }}">{{ venue.name }}</option>
						{% endfor %}
					</select>
					</div>
				</div>
				{% endif %}
				<div class="row mb-3">
					<div class="col-md-8">
						<label for="show-tags" class="form-label">Tags</label>
						{% if show is defined %}
						<select class="form-select" name="tags" multiple>
							<option value="">Select Tag(s)</option>
							{% set is_selected="" %}
							{% for tag in tags %}
							{% if tag in show.tags %}
							{% set is_selected="selected" %}
							{%endif%}
							<option value="{{ tag }}" {{is_selected}}>{{ tag }}</option>
							{% endfor %}
						</select>
						{% else %}
						<select class="form-select" name="tags" multiple>
							<option value="">Select Tag(s)</option>
							{% for tag in tags %}
							<option value="{{ tag }}">{{ tag }}</option>
							{% endfor %}
						</select>
						{% endif %}
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-8">
						<label for="show-date" class="form-label">Show Date</label>
						{% if show is defined %}
						<input type="date" class="form-control" id="show-date" name="show-date"
							value="{{ show.show_time.strftime("%Y-%m-%d") }}" placeholder="Date of Show" autocomplete="off"
							required>
						{% else %}
						<input type="date" class="form-control" id="show-date" name="show-date" value=""
							placeholder="Date of Show" autocomplete="off" required>
						{% endif %}
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-8">
						<label for="show-time" class="form-label">Show Time</label>
						{% if show is defined %}
						<input type="time" class="form-control " id="show-time" name="show-time"
							value="{{ show.show_time.strftime("%H:%M") }}" placeholder="Show Time" min="08:00"
							max="23:00" required>
						{% else %}
						<input type="time" class="form-control" id="show-time" name="show-time" value=""
							placeholder="Show Time" min="08:00" max="23:00" required>
						{% endif %}
					</div>
				</div>
				<div class="row mb-3">
					<div class="col-md-8">
						<label for="file" class="form-label">Show Banner Image</label>
						<input type="file" class="form-control form-control-sm" id="file" name="file" placeholder="Upload Show Image" value="" autocomplete="off" accept="image/jpeg, image/jpg" />
					</div>
				</div>
				<hr class="border-dark">
				<div class="row mb-3">
					<div class="col-md-8" style="text-align: center;">
						{% if show is defined %}
						<input type="submit" class="btn btn-success" name="update-show" value="Update">
						<a href="/admin/{{show.venue.id}}/show" class="btn btn-secondary">Back to Venue</a>
						{% else %}
						<input type="submit" class="btn btn-success" name="add-show" value="Add Show">
						{% if venue_id is none %}
						<a href="/admin" class="btn btn-secondary">Back to Home</a>
						{% elif venue is not none %}
						<a href="/admin/{{venue_id}}/show" class="btn btn-secondary">Back to Venue</a>
						{% endif %}
						{% endif %}
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
