{% extends 'common/base_nav.html' %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/show.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}
<div class="container">
	<div class="kard-container">
		{% for show in shows %}
		<div class="kard">
			<div class="kard-img">
				{% if show.show_img %}
				<img src="{{ url_for('static', filename='img/show/' + show.show_img) }}" class="kard-image" alt="venue" />
				{% else %}
				<img src="https://via.placeholder.com/150" class="kard-image" alt="venue" />
				{% endif %}
			</div>
			<div class="kard-content">
				<div class="kard-details">
					<h2 class="kard-title">{{show.title}}</h3>
					<div>
						<span> {{show.language}} </span>
						<span> {{show.duration}}mins </span>
					</div>
					<div>
						<span>&#x20B9;{{show.price}}</span>
					</div>
					<div>
						<span>&hearts;{{show.popularity}}%</span>
						<span>{{show.genre}}</span>
					</div>
					<div>
						<span>{{show.date}}</span>
						<span>{{show.time}}</span>
					</div>
					<div>
						<span>Seating:{{show.rows}}x{{show.seats}}</span>
					</div>
					<div class="kard-form">
						<!-- <strong><a href="#" class="btn btn-primary">Book</a></strong> -->
						<input type="submit" name="Edit" value="Edit">
						<input type="submit" name="Delete" value="Delete">
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="kard">
			<form id="add-show" action="/admin/{{venue_id}}/show" class="kard-add-form" method="POST">
				<button style="border:0px;border-shadow:0px;border-radius:0px;" class="kard-add" type="submit" name="add-venue" value="someValue"><img src="https://img.icons8.com/ios-filled/140/add--v1.png" alt="Add Show"></button>
				<!-- <input class="kard-add" type="image" src="https://img.icons8.com/ios-filled/140/add--v1.png" alt="Add Venue"> -->
			</form>
		</div>
	</div>
</div>
{% endblock content %}
