{% extends 'common/base.html' %}
{% import 'macros/macros.j2' as macros %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/show.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}

<div class="content">
	<div class="container">
		<div class="row mt-3 mb-3">
			<h3 class="text-center mt-1 mb-3">Manage Shows</h3>
			{% for show in shows %}
			{{ macros.display_show(show, is_admin=true) }}
			{% endfor %}
			<div class="col-sm-3 m-2">
				<div class="card h-100 border-0 card-add" style="width:16rem;min-height:400px">
					<form id="add-show" action="/admin/{{venue.id}}/show" class="kard-add-form" method="POST">
						<button style="border:0px;box-shadow:0px;border-radius:0px;" class="kard-add" type="submit"
							name="add-venue" value=""><img
								src="https://img.icons8.com/ios-filled/140/add--v1.png" alt="Add Show"></button>
						<!-- <input class="kard-add" type="image" src="https://img.icons8.com/ios-filled/140/add--v1.png" alt="Add Venue"> -->
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
