{% extends 'common/base.html' %}

{% block title %}
Add Venue
{% endblock title %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/show_add.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}
<div class="content">
<div class="container">
	<!-- <h2 style="text-align=center:">Add New Venue </h2> -->
	<div class="add-show">
		<form class="form" method="POST" enctype="multipart/form-data">
			{% if show is defined %}
			<h5>Update Show</h5>
			{% else %}
			<h5>Add Show</h5>
			{% endif %}
			<div>
				<label for="title">Title</label> <br>
				{% if show is defined %}
				<input type="text" name="title" value="{{ show.title }}" placeholder="Title" required>
				{% else %}
				<input type="text" name="title" value="" placeholder="Title" required>
				{% endif %}
			</div>
			<br>
			<div>
				<label for="language">Language</label> <br>
				{% if show is defined %}
				<input type="text" name="language" value="{{ show.language }}" placeholder="Language" minlength="4" required>
				{% else %}
				<input type="text" name="language" value="" placeholder="Language" minlength="4" required>
				{% endif %}
			</div>
			<br>
			<div>
				<label for="duration">Duration</label><br>
				{% if show is defined %}
				<input type="number" name="duration" value="{{ show.duration }}" placeholder="duration(mins)" min="10" max="180" required>
				{% else %}
				<input type="number" name="duration" value="" placeholder="duration(mins)" min="10" max="180" required>
				{% endif %}
			</div>
			<br>
			<div>
				<label for="price">Price</label><br>
				{% if show is defined %}
				<input type="number" name="price" value="{{ show.price }}" placeholder="Ticket Price" min="100" max="500" required>
				{% else %}
				<input type="number" name="price" value="" placeholder="Ticket Price" min="100" max="500" required>
				{% endif %}
			</div>
			<br>
			<div>
				<label for="rating">Rating</label><br>
				{% if show is defined %}
				<input type="number" name="rating" value="{{ show.rating }}" placeholder="Critics Rating" min="0.5" max="5.0" step="0.5" required><span>&nbsp;/5</span>
				{% else %}
				<input type="number" name="rating" value="" placeholder="Critics Rating" min="0.5" max="5.0" step="0.5" required><span>&nbsp;/5</span>
				{% endif %}
			</div>
			<br>
			<div>
				<label for="tags">Tags</label><br>
				{% if show is defined %}
				{% else %}
				{% endif %}
				<select name="tags" multiple>
					<option value="">Select Tag(s)</option>
					{% for tag in tags %}
					<option value="{{ tag }}">{{ tag }}</option>
					{% endfor %}
				</select>
			</div>
			<br>
			<div>
				<label for="show_date">Show Date</label><br>
				{% if show is defined %}
				<input type="date" name="show_date" value="{{ show.show_time.strftime("%Y-%m-%d") }}" placeholder="" required>
				{% else %}
				<input type="date" name="show_date" value="" placeholder="" required>
				{% endif %}
			</div>
			<br>
			<div>
				<label for="show_time">Show Time</label><br>
				{% if show is defined %}
				<input type="time" name="show_time" value="{{ show.show_time.strftime("%H:%M") }}" placeholder="" step="900" required>
				{% else %}
				<input type="time" name="show_time" value="" placeholder="" step="900" required>
				{% endif %}
			</div>
			<br>
			<div>
				<label for="rows">Rows</label><br>
				{% if show is defined %}
				<input type="number" name="rows" value="{{ show.n_rows }}" placeholder="Number of rows" min="5" max="15" required>
				{% else %}
				<input type="number" name="rows" value="" placeholder="Number of rows" min="5" max="15" required>
				{% endif %}
			</div>
			<br>
			<div>
				<label for="seats">Seats per Row</label><br>
				{% if show is defined %}
				<input type="number" name="seats" value="{{ show.n_seats }}" placeholder="Seats per row" min="10" max="20" required>
				{% else %}
				<input type="number" name="seats" value="" placeholder="Seats per row" min="10" max="20" required>
				{% endif %}
			</div>
			<br>
			<div>
				<label for="file">Banner</label><br>
				<input type="file" name="file" value="" placeholder="Choose banner file">
			</div>
			<br>
			<div>
				{% if show is defined %}
				<input type="submit" name="update-show" value="Update">
				{% else %}
				<input type="submit" name="add-show" value="Add Show">
				{% endif %}
			</div>
		</form>

	</div>
</div>
</div>
{% endblock content %}
