{% extends 'common/base_nav.html' %}

{% block title %}
Add Venue
{% endblock title %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/venue.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}
<div class="container">
	<h3 style="text-align=center:">Add New Venue </h3>
	<div>
		<form class="form" name="venue-add-form" method="POST" enctype="multipart/form-data">
			<div>
				<label for="name">Venue Name<br><input type="text" name="name" value="{{venue.name}}" placeholder="Venue Name" autocomplete="off" required></label>
			</div>
			<br>
			<div>
				<label for="city">City Name<br><input type="text" name="city" value="{{venue.city}}" placeholder="City Name" autocomplete="off" required></label>
			</div>
			<br>
			<div>
				<input type="file" name="file" placeholder="Upload Profile Image" value="" autocomplete="off" accept="image/jpeg, image/jpg, image/png" />
			</div>
			<br>
			<input type="submit" name="submit" value="Update">
		</form>
	</div>
</div>
{% endblock content %}
