{% extends 'common/base_nav.html' %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/venue.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}
<div class="container">
	<div class="kard-container">
		{% for venue in venues %}
		<div class="kard">
			<div class="kard-img">
				{% if venue.img %}
				<img src="{{venue.img}}" class="kard-image" alt="venue" />
				{% else %}
				<img src="https://via.placeholder.com/150" class="kard-image" alt="venue" />
				{% endif %}
			</div>
			<div>
				<h4 class="kard-title" style="bold">{{venue.name}}</h4>
			</div>
			<div class="kard-bottom">
				<h5>{{venue.city}}</h5>
				<div class="kard-form">
					<strong><a href="#" class="btn btn-primary">Manage Shows</a></strong>
				</div>
				<div class="kard-form">
					<strong><a href="#" class="btn btn-primary">Edit Venue</a></strong>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="kard">
			<form id="add-venue" action="/admin/venue" class="kard-add-form" method="POST">
				<input class="kard-add" type="image" src="https://img.icons8.com/ios-filled/140/add--v1.png" alt="Add Venue">
			</form>
		</div>
	</div>
</div>
{% endblock content %}
