{% extends 'common/base.html' %}

{% block title %}
Add Venue
{% endblock title %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/venue_add.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}
<div class="content">
	<div class="container">
		<div class="row g-3">
				<form class="row g-5" name="venue-add-form" method="POST" enctype="multipart/form-data">
					{% if venue is defined %}
					<h3 style="text-align: center;"> Update Venue </h3>
					{% else %}
					<h3 style="text-align: center;"> Add New Venue </h3>
					{% endif %}
					<div class="row mb-3">
						<div class="col-md-4">
							<label for="-name" class="form-label">Name</label>
							{% if venue is defined %}
							<input type="text" class="form-control" id="name" name="name" value="{{ venue.name }}" placeholder="Name" autocomplete="off" required>
							{% else %}
							<input type="text" class="form-control" id="-name" name="name" value="" placeholder="Name" autocomplete="off" required>
							{% endif %}
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-4">
							<label for="place" class="form-label">Place</label>
							{% if venue is defined %}
							<input type="text" class="form-control" id="place" name="place" value="{{ venue.place}}" placeholder="Place" autocomplete="off" required>
							{% else %}
							<input type="text" class="form-control" id="place" name="place" value="" placeholder="Place" autocomplete="off" required>
							{% endif %}
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-4">
							<input type="file" name="file" placeholder="Upload Profile Image" value=""
								autocomplete="off" accept="image/jpeg, image/jpg, image/png" />
						</div>
					</div>
					<div id="formbtn" class="row mb-3">
						<div class="col-md-4">
							{% if venue is defined %}
							<input type="submit" name="submit" value="Update">
							{% else %}
							<input type="submit" name="submit" value="Add Venue">
							{% endif %}
						</div>
					</div>
				</form>
		</div>
	</div>
</div>
{% endblock content %}
