{% extends 'common/base.html' %}
{% import 'macros/macros.j2' as macros %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/venue.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}
<div class="content">
	<div class="container">
		<div class="row mt-3 mb-3">
				<h3 class="text-center mt-1 mb-3">Manage Venues</h3>
				{% for venue in venues %}
				{{ macros.display_venue(venue, is_admin=true) }}
				{% endfor %}
				<div class="col-sm-3 m-2">
					<div class="card card-add border-0" style="width:16rem;height:100%;min-height:400px">
						<div class="kard-add">
							<form action="/admin/venue" method="POST">
								<button style="border:0px;border-radius:0px;border-radius:0px;" class="kard-add"
									type="submit" name="add-venue" value="someValue"><img
										src="https://img.icons8.com/ios-filled/140/add--v1.png"
										alt="Add Venue"></button>
								<!-- <button class="kard-add-btn" type="submit" name="add-venue"><i class="bi bi-plus-circle-fill"></i></button> -->
							</form>
						</div>
					</div>
				</div>
		</div>
	</div>
</div>
{% endblock content %}
