{% extends 'common/base_nav.html' %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/venue.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}
<div class="container">
	<div class="kard-container">
		<div class="kard">
			<div class="kard-left">
				<h5 class="kard-title">Forum</h5>
				<img src="https://via.placeholder.com/150" class="image" alt="venue" />
			</div>
			<div class="kard-right">
				<label>Bengaluru</label>
				<br>
				<a href="#" class="btn btn-primary">Manage</a>
			</div>
		</div>
		<div class="kard kard-add">
			<input class="kard-venue-add" type="image" src="https://img.icons8.com/ios-filled/140/add--v1.png" alt="Add Venue">
		</div>
	</div>
</div>
{% endblock content %}
