{% extends 'common/base.html' %}

{% block title %}
Add Venue
{% endblock title %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/venue_add.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}
<div class="content">
	<div class="container">
		<div class="row g-3 mt-4">
				<form class="col-8 g-5 justify-contents-center m-auto border rounded-2" name="venue-add-form" method="POST" enctype="multipart/form-data">
					{% if venue is defined %}
					<h3 class="text-center"> Update Venue </h3>
					{% else %}
					<h3 class="text-center"> Add New Venue </h3>
					{% endif %}
					<hr class="border-dark">
					<div class="row mb-3">
						<div class="col-md-8">
							<label for="-name" class="form-label">Name</label>
							{% if venue is defined %}
							<input type="text" class="form-control" id="name" name="name" value="{{ venue.name }}" placeholder="Name" autocomplete="off" required>
							{% else %}
							<input type="text" class="form-control" id="-name" name="name" value="" placeholder="Name" autocomplete="off" required>
							{% endif %}
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-8">
							<label for="place" class="form-label">Place</label>
							{% if venue is defined %}
							<input type="text" class="form-control" id="place" name="place" value="{{ venue.place}}" placeholder="Place" autocomplete="off" required>
							{% else %}
							<input type="text" class="form-control" id="place" name="place" value="" placeholder="Place" autocomplete="off" required>
							{% endif %}
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-8">
							<label for="rows" class="form-label">Rows</label>
							{% if show is defined %}
							<input type="number" class="form-control" id="rows" name="rows" value="{{ show.n_rows }}"
								placeholder="Number of Rows" min="5" max="12" required>
							{% else %}
							<input type="number" class="form-control" id="rows" name="rows" value="" placeholder="Number of Rows" min="5"
								max="12" required>
							{% endif %}
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-8">
							<label for="seats" class="form-label">Seats per Row</label>
							{% if show is defined %}
							<input type="number" class="form-control" id="seats" name="seats" value="{{ show.n_seats }}"
								placeholder="Seats per Row" min="10" max="15" required>
							{% else %}
							<input type="number" class="form-control" id="seats" name="seats" value="" placeholder="Seats per Row" min="10"
								max="15" required>
							{% endif %}
						</div>
					</div>
					<div class="row mb-3">
						<div class="col-md-8">
							<label for="form-file" class="form-label">Venue Image</label>
							<input type="file" class="form-control form-control-sm" id="form-file" name="file" placeholder="Upload Venue Image" value="" autocomplete="off" accept="image/jpeg, image/jpg" />
						</div>
					</div>
					<hr class="border-dark">
					<div id="formbtn" class="row mb-3">
						<div class="col-md-8">
							{% if venue is defined %}
							<input type="submit" class="btn btn-success" name="submit" value="Update">
							{% else %}
							<input type="submit" class="btn btn-success" name="submit" value="Add Venue">
							{% endif %}
							<a href="/admin/venue" class="btn btn-secondary">Back to Venues</a>
						</div>
					</div>
				</form>
		</div>
	</div>
</div>
{% endblock content %}
