{# show venue #}
{% macro display_venue(venue, is_admin) %}
<div class="col-sm-3 m-2">
<div class="card" style="width: 16rem;">
	{% if venue.venue_img %}
	<img src="{{ url_for('static', filename='img/venue/' + venue.venue_img) }}" class="card-img-top" alt="venue" />
	{% else %}
	<img src="https://via.placeholder.com/150" class="card-img-top" alt="venue" />
	{% endif %}
  <div class="card-body">
    <h5 class="card-title text-center">{{ venue.name|capitalize }}</h5>
	<div class="card-detail">
		<span> {{venue.place|capitalize}} </span>
	</div>
	<div class="card-detail">
		<span>No of Shows: {{ venue.shows|length }}</span>
	</div>
	<div class="card-form">
		<form id="edit-venue" method="POST">
			<button type="submit" class="btn btn-secondary btn-sm" style="font-size:0.7em;" name="edit-venue" value="{{venue.id}}">Edit</button>
		</form>
		<form id="delete-venue" method="POST">
		<button type="submit" class="btn btn-danger btn-sm" name="delete-venue" style="font-size:0.7em;" value="{{venue.id}}">Delete</button>
		</form>
		<form id="manage-show" method="POST">
			<button type="submit" class="btn btn-secondary btn-sm" name="manage-show" style="font-size:0.7em;" value="{{venue.id}}">Manage Shows</button>
		</form>
	</div>
  </div>
</div>
</div>
{% endmacro %}

{################################################################}

{# show show #}
{% macro display_show(show, is_admin) %}
<div class="col-sm-3 m-2">
<div class="card" style="width: 16rem;">
	{% if show.show_img %}
	<img src="{{ url_for('static', filename='img/show/' + show.show_img) }}" class="card-img-top" alt="show" />
	{% else %}
	<img src="https://via.placeholder.com/150" class="card-img-top" alt="show" />
	{% endif %}
  <div class="card-body">
    <h5 class="card-title text-center">{{ show.title }}({{ show.language }})</h5>
	<div class="card-detail">
		<span> {{show.venue.name}} </span>
		<span> {{show.venue.place}} </span>
	</div>
	<div class="card-detail">
		<span>&#x1F4C5;{{show.show_time.strftime("%a %d %b %Y")}}</span>
		<span>&#x1F551;{{show.show_time.strftime("%I.%M%p")}}</span>
	</div>
	<div class="card-detail">
		<span> {{show.duration}}mins </span>
		<span>Price: &#x20B9;{{show.price}}</span>
	</div>
	<div class="card-detail">
		<span> &#9733; {{show.rating}}/5.0 </span>
		<span><i class="fa-solid fa-1x" style="color:red;">&hearts;</i>{{show.popularity}}%</span>
	</div>

	<div class="card-detail">
		<span>Seats:{{ show.n_rows*show.n_seats }}(Avl:{{(show.n_rows * show.n_seats) - (show.seats|length) }},Booked:{{show.seats|length}})</span>
	</div>

	{% set disable_booking="" %}
	{% if not admin and show.seats|length == show.n_rows*show.n_seats %}
	<div class="card-detail" style="justify-content:center;text-align:center">
		{% set disable_booking="disabled" %}
		<span style="color:red;">HOUSEFULL!</span>
	</div>
	{% else %}
	<div class="card-detail" style="justify-content:center;text-align:center">
		{% set disable_booking="" %}
		<span>&nbsp;</span>
	</div>
	{% endif %}

	{% if is_admin %}
	<div class="card-form mt-2">
		<form id="edit-show" method="POST">
			<button type="submit" class="btn btn-secondary" name="edit-show" value="{{show.id}}">Edit</button>
		</form>
		<form id="delete-show" method="POST">
		<button type="submit" class="btn btn-danger" name="delete-show" value="{{show.id}}">Delete</button>
		</form>
	</div>
	{% else %}
	<div class="card-form mt-2">
	<form action={{url_for('controller.book', show_id=show.id)}} method="post">
		<div class="card-form" style="text-align:center">
			<input type="submit" class="btn btn-success" name="book" value="Book" class="btn btn-general" {{ disable_booking }}>
		</div>
	</form>
	</div>
	{% endif %}
  </div>
</div>
</div>
{% endmacro %}

{################################################################}

{# show booking #}
{% macro display_booking(booking) %}
<div class="card mb-3 h-100">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="{{ url_for('static', filename='img/show/' + booking.show.show_img) }}" class="img-fluid rounded-start" alt="Show banner">
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<div class="card-title d-flex justify-content-between align-times-center">
				<span> Ticket: <span class="font-weight-bolder">#{{ booking.id }}</span></span>
				<span>Booked on: {{ booking.booking_time.strftime("%a %d %b %Y %I.%M%p") }}</span>
				</div>
				
				<h5 class="card-title text-center mt-3 font-weight-bolder">
				{{ booking.show.title }}({{ booking.show.language }})</h5>
				<hr>

				<div class="card-text">
				<i class="fa fa-map-marker"></i>&nbsp;{{ booking.show.venue.name }},{{ booking.show.venue.place }}
				</div>

				<div class="card-text">
					&#x1F4C5;{{ booking.show.show_time.strftime("%a %d %b %Y") }}
				</div>
				<div class="card-text">
					&#x1F551;{{ booking.show.show_time.strftime("%I.%M%p") }},{{ booking.show.duration }}mins
				</div>
				<div class="card-text mb-1">
					<label class="font-weight-bold m-0">Seats({{booking.seats|length}}): </label>
					<p class="m-0" style="font-family: monospace">
					{% for seat in booking.seats %}
						<span class="seat">{{seat.seat}}</span>
					{% endfor %}
					</p>
				</div>
				<hr>
				<div class="card-text">
					<span class="font-weight-bold">Total Ticket Price:&nbsp;&#x20B9; </span>{{ booking.final_amount }}/-
				</div>
				<div class="d-flex flex-column items-end">
					<form class="align-end" method="post">
					<span class="font-weight-bold">Like </span>
					<button style="border:none;padding:0;background:none;" name="like" type="submit" value="{{booking.show_id}}">
					{% if booking.show.like %}
					<i class="bi bi-hand-thumbs-up"></i>
					{% else %}
					<i class="bi bi-hand-thumbs-up-fill"></i>
					{%  endif %}
					</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endmacro %}

{# show checkout summary #}
{% macro display_checkout(booking) %}
<div class="card mb-3" style="max-width: 540px;">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="{{ url_for('static', filename='img/show/' + booking.show.show_img) }}" class="img-fluid rounded-start" alt="Show banner">
		</div>
		<div class="col-md-8">
			<div class="card-body">
			<h6> Ticket: #{{ booking.id }}</h6>
				<h6 class="card-title text-center">{{ booking.show.title }}({{ booking.show.language }})</h6>
				<hr>
				<p class="card-text"><i class="fa fa-map-marker"></i><small>{{ booking.show.venue.name }},{{ booking.show.venue.place }}</small></p>
				<div class="card-text">
					{{ booking.show.show_time.strftime("%a %d %b %Y %I.%M%p") }},{{ booking.show.duration }}mins
				</div>
				<div class="card-text">
					<br>
					<label>No. of seats:{{ booking.seats|count }} </label>
				</div>
				<div class="card-text">
					<br>
					<label>Seats: </label>
					{% for seat in booking.seats %}
						<span>&nbsp;{{ seat.seat }}</span>
					{% endfor %}
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
{% endmacro %}


