{% extends 'common/base.html' %}
{% import 'macros/macros.j2' as macros %}
{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/show.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style/user/search.css') }}" type="text/css"/>
{% endblock style %}
{% block title %}
Search
{% endblock title %}

{% block content %}
{{ super() }}
<div class="content">
	<div class="container">
		<div class="row g-3 mt-3">
		<h3>Search Results for <em style="color:red;">{{ searched }}</em></h3>
			<form class="row g-5" method="get">
		<div class="row mb-3 mt-3 py-3 justify-content-center border ">
				<div class="row g3 mt3 justify-content-center">
					<div class="col-8 my-3">
						<input class="form-control" type="search" name="search" , placeholder="venues/shows/categories">
					</div>
				</div>
				<div class="row g-3 justify-content-center">
					<div class="col-8 justify-content-center text-center">
						<input class="btn btn-secondary" type="submit" id="search-date" name="" value="Search">
						<a href="/" class="btn btn-secondary">Back to Home</a>
					</div>
				</div>
		</div>
			</form>

		{% if time_shows is not none %}
		{% for show in time_shows %}
			<h3 class="named-line">&nbsp;&nbsp; Time based results &nbsp;&nbsp; </h3>
		<div class="row g-3">
			{{ macros.display_show(show) }}
		</div>
		{% endfor %}
		{% endif %}

		{% if venue_shows is not none %}
		{% for venue, shows in venue_shows.items() %}
			<h3 class="named-line">&nbsp;&nbsp; {{ venue|capitalize }}&nbsp;&nbsp; </h3>
		{% for show in shows %}
			{{ macros.display_show(show) }}
		{% endfor %}
		{% endfor %}
		{% endif %}
		
		{% if shows is not none %}
		{% if shows|length != 0 %}
		<h3 class="named-line">&nbsp;&nbsp; Shows &nbsp;&nbsp; </h3>
		{% for show in shows %}
			{{ macros.display_show(show) }}
		{% endfor %}
		{% endif%}
		{% endif%}

		{% if tag_shows is not none %}
		{% for tag,shows in tag_shows.items() %}
		{% if shows|length != 0 %}
			<h3 class="named-line">&nbsp;&nbsp; {{ tag|capitalize }}&nbsp;&nbsp; </h3>
			{% for show in shows %}
				{{ macros.display_show(show, is_admin=false, current_user=current_user) }}
			{% endfor %}
		{% endif %}
		{% endfor %}
		{% endif %}
		</div>
	</div>
</div>
{% endblock content %}
