{% extends 'base.html' %}
{% block title %} Signup {% endblock title %}

{% block content %}
    <div
      id="container"
	  style="margin:auto; width: 400px;border:color:0xFF00FF 1px solid">
      <h1 style="text-align:center">Signup</h1>

	  <form action="">
		  <table style="text-align:center">
			  <tr>
				  <td align="right">User</td>
				  <td align="left"><input type="text" name="username" placeholder="username" /></td>
			  </tr>
			  <tr>
				  <td align="right">Password</td>
				  <td align="left"><input type="text" name="pass" /></td>
			  </tr>
			  <tr>
				  <td align="right">Email</td>
				  <td align="left"><input type="email" name="email" placeholder="user@user.com" /></td>
			  </tr>
			  <tr>
				  <td align="right">Date of Birth</td>
				  <td align="left"><input type="text" name="dob" placeholder="DD/MM/YY" /></td>
			  </tr>
			  <br>
			  <tr>
				  <td></td>
				  <td align="center">
					  <button class="btn btn-primary">Register</button>
					  <a href="auth.login">Login</a>
				  </td>
			  </tr>
		  </table>
	  </form>
    </div>
{% endblock content %}
