{% extends 'common/base.html' %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/base_nav.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
<div class="container">
		<nav class="navbar">
			<div class="applogo">Kino</div>
			<div class="nav-links">
				<ul class="nav-links">
					<li><a href="#">Profile</a></li>
					<li><a href="#">Bookings</a></li>
					<li><a href="#">Login</a></li>
				</ul>
			</div>
		</nav>
</div>
{% endblock content %}
