{% extends 'common/base.html' %}

{% block style %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/base_nav.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
<div class="container">
		<nav class="navbar">
			<div class="applogo">
				<a href="/">Kino</a>
			</div>
			<div class="nav-links">
				<ul class="nav-links">
					<li><input type="text" name="search" value="" placeholder="Search..."></a></li>
					{% if current_user.is_authenticated %}
					<li><a href="/">Home</a></li>
					<li><a href="/profile">Profile</a></li>
					<li><a href="/bookings">Bookings</a></li>
					<li><a href="/logout">Logout</a></li>
					{% else %}
					<li><a href="/login">Login</a></li>
					{% endif %}
				</ul>
			</div>
		</nav>
</div>
{{ super() }}
{% endblock content %}
