{% extends 'common/base.html' %}
{% block style %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/user/book.css') }}" type="text/css" />
{% endblock style %}

<!-- main content -->
{% block content %} {{ super() }}
<div class="content">
	<div class="container">
		<div class="row mt-4">
			<div class="col-10 border rounded-2 m-auto">
				<div class="show-info-1">
					<b>{{show.title}}</b>({{ show.language }})
				</div>
				<div class="show-info-1">
					<small><b>{{ show.show_time.strftime("%a %d %b %Y %I.%M%p") }},{{ show.duration }}mins,
							{{venue.name|capitalize}},<i
								class="fa fa-map-marker"></i>&nbsp;{{venue.place|capitalize}}</b></small>
				</div>
				<hr class="border-dark mt-0">
					<div class="row">
						<div class="seating-legend my-2">
							<span>
								<label class="border rounded-1 px-1 m-0 border-dark fs-6">Booked: <small
										class="seating-legend-booked">&nbsp;&nbsp;&nbsp;&nbsp;</small></label>
								<label class="border rounded-1 px-1 m-0 border-dark">Selected: <small
										class="seating-legend-selected">&nbsp;&nbsp;&nbsp;&nbsp;</small></label>
								<label class="border rounded-1 px-1 m-0 border-dark">Available: <small
										class="seating-legend-avl">&nbsp;&nbsp;&nbsp;&nbsp;</small></label>
							</span>
						</div>
					</div>
				<div class="seating-layout">
					<form class="col-10 justify-contents-center mx-auto mt-3 pt-3 border rounded-2" method="POST">
						<div class="col-12">
							{% for row,seats in map %}
							<div class="row">
							<div class="col-12 text-center">
								{% for seat in seats %} {% if seat == 'B' %}
								{% set disable="disabled" %}
								{% elif seat == 'T' %}
								{% set check="checked" %}
								{% else %}
								{% set disable="" %}
								{% set check="" %}
								{% endif %}
								<input type="checkbox" class="seat" id="{{ 'check_'~row~loop.index }}" name="seat"
									value="{{ row~loop.index }}" {{ check }} {{ disable }} />
								<label class="seat" for="{{ 'check_'~row~loop.index }}">{{ row~loop.index }}</label>
								{% endfor %}
							</div>
							</div>
							{% endfor %}
							<br>
							<div class="row">
							<div class="col-8 row-screen mx-auto">
									<small><strong>SCREEN</strong></small>
							</div>
							</div>
						</div>
						<hr class="border-dark">
						<div class="row justify-contents-center">
							<div class="col-8 mx-auto mb-2 text-center">
								<input class="btn btn-success" type="submit" name="" value="Book">
								<a href="/" class="btn btn-secondary">Go to Home</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
{% endblock content %}
