{% extends 'common/base.html' %}
{% import 'macros/macros.j2' as macros %}
{% block style %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/user/booking.css') }}" type="text/css" />
{% endblock style %}

{% block content %}
{{ super() }}
<div class="content">
	<div class="container">
		<h3>{{current_user.name}}'s Bookings</h3>
		<hr>
		{% if bookings is defined and bookings[0] is not defined %}
		<h4 style="margin:0px auto;">You have No Bookings! </h4>
		{% else %}
		{% for booking in bookings %}
		{{ macros.display_booking(booking) }}
		<hr>
		{% endfor %}
		{% endif %}
	</div>
</div>
{% endblock content %}
