{% extends 'common/base.html' %}
{% block style %} {{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/user/book.css') }}" type="text/css" />
{% endblock style %}

<!-- main content -->
{% block content %} {{ super() }}
<div class="content">
<div class="container">
	<div class="container-layout">
		<div class="show-info-1">
			<b>{{show.title}}</b>({{ show.language }})
		</div>
		<div class="show-info-2">
			{{ show.show_time.strftime("%a %d %b %Y %I.%M%p") }},{{ show.duration }}mins, {{venue.name|capitalize}}, {{venue.place|capitalize}}
		</div>
		<hr style="height:2px;background-color:gray;margin-top:3px;">
		<div class="seating-legend">
			<span>
				<label>Booked: <small class="seating-booked">&nbsp;&nbsp;&nbsp;&nbsp;</small></label>
				<label>Selected: <small class="seating-selected">&nbsp;&nbsp;&nbsp;&nbsp;</small></label>
				<label>Available: <small class="seating-avl">&nbsp;&nbsp;&nbsp;&nbsp;</small></label>
			</span>
		</div>
		<div class="seating-layout">
			<form method="POST" style="justify-items:center;">
				<div class="layout">
					{% for row,seats in map %}
					<div class="row">
						{% for seat in seats %} {% if seat == 'B' %}
						{% set disable="disabled" %}
						{% elif seat == 'T' %}
						{% set check="checked" %}
						{% else %}
						{% set disable="" %}
						{% set check="" %}
						{% endif %}
						<input type="checkbox" class="seat" id="{{ 'check_'~row~loop.index }}" name="seat"
							value="{{ row~loop.index }}" {{ check }} {{ disable }} />
						<label class="seat" for="{{ 'check_'~row~loop.index }}">{{ row~loop.index }}</label>
						{% endfor %}
					</div>
					{% endfor %}
					<br>
					<div class="row">
						<div class="row-screen">
							<small><strong>SCREEN</strong></small>
						</div>
					</div>
				</div>
				<div class="row">
					<input type="submit" name="" value="Book" style="background-color: lightblue; border: 1px solid black; border-radius: 5px; margin: 0px 0px 0px 30px; text-align: center;">
				</div>
			</form>
		</div>
	</div>
	</div>
	</div>
{% endblock content %}
