{% extends 'common/base_nav.html' %}
{% block content %}
{{ super() }}
<div class="container">
	<div class="card-grp">
		<div class="card m-1" style="width: 15rem">
			<img src="https://via.placeholder.com/150" class="card-img-top" alt="show1" />
			<div class="card-body">
				<h6 class="card-title">Avatar</h6>
				<p class="card-text"><small>Genre: Fantasy</small></p>
				<p class="card-text">
				<small>Length:<span>180mins</span></small>
				</p>
				<p class="card-text">
				<small>Certification:<span>U</span></small>
				</p>
				<p class="card-text">
				<small>User Rating:<span>90%</span></small>
				</p>
				<a href="#" class="btn btn-primary">Book Now</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
