{% extends 'common/base.html' %}
{% import 'macros/macros.j2' as macros %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/show.css') }}" type="text/css"/>
<link rel="stylesheet" href="{{ url_for('static', filename='style/user/index.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}

<div class="content">
<div class="container">
	<br>
	<br>
	<nav>
		<div class="nav nav-tabs" id="nav-tab" role="tablist">
			<button class="nav-link active" id="nav-today-tab" data-bs-toggle="tab" data-bs-target="#nav-today" type="button" role="tab">Today</button>
			<button class="nav-link" id="nav-tomorrow-tab" data-bs-toggle="tab" data-bs-target="#nav-tomorrow" type="button" role="tab" >Tomorrow</button>
			<button class="nav-link" id="nav-venue-tab" data-bs-toggle="tab" data-bs-target="#nav-venue" type="button" role="tab" >Venue</button>
			<button class="nav-link" id="nav-category-tab" data-bs-toggle="tab" data-bs-target="#nav-category" type="button" role="tab" >Category</button>
		</div>
	</nav>
	<div class="tab-content" id="nav-tabContent">
		<div class="tab-pane fade show active" id="nav-today" role="tabpanel" tabindex="0">
			<div class="row mt-5 mb-3">
				{% for show in data.today %}
				{{ macros.display_show(show, is_admin=false) }}
				{% endfor %}
			</div>
		</div>
		<div class="tab-pane fade" id="nav-tomorrow" role="tabpanel" tabindex="0">
			<div class="row mt-5 mb-3">
				{% for show in data.tomorrow %}
				{{ macros.display_show(show, is_admin=false) }}
				{% endfor %}
			</div>
		</div>
		<div class="tab-pane fade" id="nav-venue" role="tabpanel" tabindex="0">
			{% for venue,shows in data.venues.items() %}
			{% if shows|length > 0 %}
			<h3 class="named-line">&nbsp;&nbsp; {{ venue|capitalize }}&nbsp;&nbsp; </h3>
			<div class="row mt-5 mb-3">
			{% for show in shows %}
				{{ macros.display_show(show, is_admin=false) }}
			{% endfor %}
			</div>
			{% endif %}
			{% endfor %}
		</div>
		<div class="tab-pane fade" id="nav-category" role="tabpanel" tabindex="0">
			{% for tag,shows in data.tags.items() %}
			{% if shows|length > 0 %}
			<h3 class="named-line">&nbsp;&nbsp; {{ tag|capitalize }}&nbsp;&nbsp; </h3>
			<div class="row mt-5 mb-3">
			{% for show in shows %}
				{{ macros.display_show(show, is_admin=false) }}
			{% endfor %}
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
</div>
{% endblock content %}
