{% extends 'common/base_nav.html' %}

{% block style %}
{{ super()  }}
<link rel="stylesheet" href="{{ url_for('static', filename='style/admin/show.css') }}" type="text/css"/>
{% endblock style %}

{% block content %}
{{ super() }}
<div style="text-align=center;">
	{% if shows|length == 0 %}
	<h3>No Shows to Book!</h3>
	{% endif%}
</div>

<div class="container">
	<div class="kard-container">

		{% for show in shows %}
		<div class="kard">
			<div class="kard-img">
				{% if show.show_img %}
				<img src="{{ url_for('static', filename='img/show/' + show.show_img) }}" class="kard-image" alt="venue" />
				{% else %}
				<img src="https://via.placeholder.com/150" class="kard-image" alt="venue" />
				{% endif %}
			</div>
			<div class="kard-content">
				<div class="kard-details">
					<h2 class="kard-title">{{show.title}}</h2>
					<div>
						<span> {{show.language}} </span>
						<span> {{show.duration}}mins </span>
					</div>
					<div>
						<span>&#x20B9;{{show.price}}</span>
					</div>
					<div>
						<span>&hearts;{{show.popularity}}%</span>
						<span>{{show.genre}}</span>
					</div>
					<div>
						<span>{{show.date}}</span>
						<span>{{show.time}}</span>
					</div>
					<div>
						<span>Seating:{{show.n_rows}}x{{show.n_seats}}</span>
					</div>
					<div class="kard-form">
						<input type="submit" name="book" value="Book">
						<!-- <input type="submit" name="Delete" value="Delete"> -->
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
