.card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 3px 2px;
}

.card-body {
  margin:3px;
}

.card-detail {
  display: flex;
  justify-content: center;
  margin:3px;
}

.card-form {
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.kard-add-form {
  margin: auto;
}

.kard.kard-add-form.kard-add {
  margin: auto;
}

div span {
  font-weight: 600;
  font-size: 0.8em;
}

